h1{
    border: 3px solid grey;
    border-radius:5px;
    text-shadow: 3px 2px red;
}
#p1{
    border-bottom: 3px inset red;
    border-top:3px solid grey;
    
}

    #box1{
    width: 100px;
    height : 100px;
    background-color: black;
}
