#ind{
    background-color: lightgreen;
    width :100px;
    height : 100px;
    border: 1px solid;
}
#out{
    background-color:  lightgreen;
    width : 300px;
    height: 300px;
    border : 2px solid;
}